# generic dependencies for all environments
#AWSIoTPythonSDK == 1.4.7
#paho-mqtt == 1.5.0
pynput == 1.6.8
tornado == 6.0.4

# dependencies for the Raspberry
picamera == 1.13
Adafruit-PCA9685 == 1.0.1
adafruit-circuitpython-pca9685 == 3.3.1
adafruit-circuitpython-motor == 3.1.1
adafruit-circuitpython-bno055 == 4.2.1
Adafruit-PlatformDetect == 2.6.0
